body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
header {
    background-color: antiquewhite;
    padding: 20px;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 8px solid darkgoldenrod;
}
.co1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}
.card {
    width: 300px;
    height: 300px;
    border: 5px solid darkgoldenrod;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: transform 0.2s, background-color 0.2s;
}
.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.card:hover {
    transform: scale(1.1);
    background-color: burlywood;
}
.card span {
    font-size: 32px;
    font-weight: bold;
}
.deconnection {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-button {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: antiquewhite;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid darkgoldenrod;
}

.menu-content a:hover {
    background-color: burlywood;
}

.menu-button:focus + .menu-content,
.menu-content:hover {
    display: block;
}
