body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 20px;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    margin-bottom: 20px;
}

.rtab {
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
    margin-left: 2%;
}

.rtab:hover {
    background-color: rgb(221, 171, 106);
}

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: darkgoldenrod;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fff8dc;
}

tr:hover {
    background-color: #f4e1a1;
}

select, input[type="checkbox"] {
    margin: 0;
    padding: 5px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgoldenrod;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour les cases à cocher */
.checkbox {
    width: 25px; 
    height: 25px; 
    margin: 5px;
    cursor: pointer;
}

/* Style spécifique pour les boutons */
.bouton-titulaire {
    background-color: brown;
    border: 2px solid #8B4513; 
    border-radius: 5px; 
}

.bouton-selectionne {
    background-color: brown;
    border: 2px solid #8B4513; 
    border-radius: 5px;
}

/* Ajouter un effet de survol */
.checkbox:hover {
    background-color: burlywood;
    transform: scale(1.05); 
}

/* Style pour les cases cochées */
.checkbox:checked {
    background-color: #A0522D;
    border-color: #A0522D;
}

.explications {
    max-width: 800px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal p {
    font-size: 16px;
    color: red;
}
