body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: antiquewhite;
}

.co1 {
    width: 30%;
    padding-bottom: 5%;
    background-color: burlywood;
    border: solid;
    border-color: darkgoldenrod;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
}