body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkgoldenrod;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 15px 0;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff8dc;
    border-radius: 5px;
    border: 1px solid darkgoldenrod;
}

ul li:hover {
    background-color: #f4e1a1;
}

form {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    background-color: burlywood;
    border-radius: 5px;
    margin-bottom: 15px;
}

form label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

form input, form select, form textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}

.return, form button[type="submit"], form button[type="save"] {
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.return:hover, form button[type="submit"]:hover, form button[type="save"]:hover {
    background-color: rgb(233, 194, 144);
}

form button[type="submit"] {
    background-color: #dc3545;
    margin-left: 95%;
}

form button[type="submit"]:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}

form button[type="save"] {
    background-color: green;
    margin-top: 15px;
}

form button[type="save"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

input[readonly], input[disabled], select[disabled], textarea[readonly], .grise {
    background-color: #f2f2f2;
    color: #b0b0b0;
    cursor: not-allowed;
    border: 1px solid #ccc;
}

.joueur-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: darkgoldenrod;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.joueur-btn:hover {
    background-color: burlywood;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button.disabled-btn {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}
