body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkgoldenrod;
    margin-top: 20px;
}

/* Section des joueurs titulaires et remplaçants */
ul {
    list-style-type: none;
    padding: 10px;
    margin: 15px 0;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff8dc; /* Un ton clair pour les éléments */
    border-radius: 5px;
    border: 1px solid darkgoldenrod;
}

ul li:hover {
    background-color: #f4e1a1; /* Change le fond au survol */
}

/* Bouton "Enregistrer" */
.enregistrer {
    padding: 10px 10px;
    background-color: #28a745; /* Vert */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 15px;
    margin-top: 15px;
}

.enregistrer:hover {
    background-color: #218838; /* Couleur plus foncée au survol */
}

/* Formulaire */
form {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    background-color: burlywood;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

form label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

form input, form select, form textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}

/* Lien de retour */
.return {
    padding: 10px 10px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 0%;
    transition: background-color 0.2s ease;
    margin-left: 5%;
}

.return:hover {
    background-color: rgb(233, 194, 144);
}

/* Style pour le formulaire de suppression */
form input[type="hidden"] {
    display: none;
}

form button[type="submit"] {
    padding: 10px 10px;
    background-color: #dc3545; /* Rouge */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 15px;
    margin-top: 15px;
}

form button[type="submit"]:hover {
    background-color: #c82333; /* Rouge foncé */
}

/* Style pour le formulaire de suppression */

form button[type="save"] {
    padding: 10px 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 15px;
    margin-top: 15px;
}

form button[type="save"]:hover {
    background-color: green;
}

/* Champs grisés (readonly ou disabled) */
input[readonly], input[disabled], select[disabled], textarea[readonly] {
    background-color: #f2f2f2; /* Fond gris clair */
    color: #b0b0b0; /* Texte gris */
    cursor: not-allowed; /* Curseur interdit */
    border: 1px solid #ccc; /* Bordure gris clair */
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid darkgoldenrod;
}

.photo:hover {
    opacity: 0.8;
}

.menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-button {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: antiquewhite;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid darkgoldenrod;
}

.menu-content a:hover {
    background-color: burlywood;
}

.menu-button:focus + .menu-content,
.menu-content:hover {
    display: block;
}
