body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkgoldenrod;
    margin-top: 20px;
}

/* Formulaire */
form {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    background-color: burlywood;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

form label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

form input, form select, form textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 100px;
}

/* Boutons */
.enregistrer {
    padding: 10px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 15px;
    margin-top: 15px;
}

.enregistrer:hover {
    background-color: #218838;
}

/* Lien de retour */
.return {
    padding: 10px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
    margin-left: 5%;
}

.rtab:hover {
    background-color: rgb(221, 171, 106);
}

/* Style pour le formulaire de suppression */
form input[type="hidden"] {
    display: none;
}

form button[type="submit"] {
    background-color: red;
    margin-top: 8px;
}

form button[type="submit"]:hover {
    background-color: darkred;
}

/* Style pour enregistrer*/
form button[type="save"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

form button[type="save"]:hover {
    background-color: #218838;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid darkgoldenrod;
}

.photo:hover {
    opacity: 0.8;
}

