body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite; 
}

header {
    background-color: antiquewhite;
    padding: 20px;
    font-size: 48px;
    font-weight: bold;
    border-bottom: 8px solid darkgoldenrod; 
}

.btn-ajouter {
    display: inline-block;
    text-decoration: none;
    background-color: darkgoldenrod;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-ajouter:hover {
    background-color: goldenrod; 
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: darkgoldenrod;
    color: white;
    font-size: 18px;
}

td {
    background-color: burlywood;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

a.btn {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: goldenrod;
}

.return {
    padding: 10px 20px;
    background-color: burlywood;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.return:hover {
    background-color: rgb(233, 194, 144);
}

.menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-button {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: antiquewhite;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid darkgoldenrod;
}

.menu-content a:hover {
    background-color: burlywood;
}

.menu-button:focus + .menu-content,
.menu-content:hover {
    display: block;
}

